boto3==1.12.32
botocore==1.15.32
cffi==1.14.0
convertdate==2.2.0
dnspython==1.16.0
docutils==0.15.2
fbprophet==0.6
holidays==0.10.1
jmespath==0.9.5
LunarCalendar==0.0.9
protobuf==3.6.1
pycparser==2.20
pystan==2.18
quandl==3.5.0
s3transfer==0.3.3
setuptools==36.2.7
six==1.14.0
stocker==0.1.5
urllib3==1.25.8
